<!-- Loop over each object in the projects array -->
{{#each Blog as |Blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/Blogpost/{{Blog.id}}">{{Blog.title}}</a>
    </h2>
    <!-- <p>
      <span for="img" aria-label="money">💲</span>
     
      <span class="dollar-amount">{{Blog.contents}}</span>
      needed!
    </p> -->
    <p>Created by {{Blog.user.name}} on {{ format_date Blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{Blog.contents}}
    </p>
  </div>
</div>
{{/each}}
